<div ng-controller="editCarsController">
  <% if @car.errors.any? %>
    <div class="alert bg-danger fade in">
      <h4>
        <%= pluralize(@car.errors.count, t("activerecord.errors.messages.error")) %>
        <%= t(".check_errors") %>
      </h4>
      <ul>
        <% @car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <%= form_for(@car, html: { class: "form-horizontal" }) do |f| %>
      <div class="col-md-6">
        <div class="well">
          <fieldset>
            <legend><%= t(".car_data") %></legend>
          </fieldset>

          <div class="field form-group">
            <div class="col-md-6" ng-class="{'has-error': carExists}">
              <%= f.label :plate, class: "control-label" %>
              <%= f.text_field :plate, class: "form-control uppercase",
                "ng-model": "car.plate",
                "ui-mask": "AAA-9999",
                "ui-options": "{clearOnBlur: false}",
                "ng-blur": "checkPlate()" %>
            </div>
            <div class="col-md-6">
              <%= f.label :model, class: "control-label" %>
              <%= f.text_field :model, class: "form-control capitalize" %>
            </div>
          </div>

          <div class="field form-group">
            <div class="col-md-12">
              <%= f.label :delivery_status, class: "control-label" %>
              <%= f.select :delivery_status, DeliveryStatus.to_a, {}, { class: "form-control" } %>
            </div>
          </div>

          <div class="field form-group">
            <div class="col-md-6">
              <%= f.label :purchase_date, class: "control-label" %>
              <div class="input-group date" id="datetimepicker_start">
                <%= f.text_field :purchase_date, class: "form-control", id: "datetimepicker1",
                  "ng-model": "car.purchaseDate",
                  "ui-date-mask": "" %>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>

            <div class="col-md-6">
              <%= f.label :expected_end_date, class: "control-label" %>
              <div class="input-group date datetimepicker" id="datetimepicker_end">
                <%= f.text_field :expected_end_date, class: "form-control", id: "datetimepicker1",
                  "ng-model": "car.expectedEndDate",
                  "ui-date-mask": "" %>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>
          </div>

          <div class="field form-group">
            <div class="col-md-12">
              <%= f.label :observation, class: "control-label" %>
              <%= f.text_area :observation, class: "form-control", rows: 5 %>
            </div>
          </div>
        </div>
      </div>

      <%= render partial: "/cars/forms/#{@car.client_type.underscore}_form", locals: {f: f} %>

      <%= f.fields_for(:freight, html: {class: "form-horizontal"}) do |freight_builder| %>
        <div class="col-md-6">
          <div class="well">
            <fieldset>
              <legend><%= t(".freight_data") %></legend>
            </fieldset>

            <div class="field form-group">
              <div class="col-md-6">
                <%= freight_builder.label :subtotal, class: "control-label" %>
                <%= freight_builder.text_field :subtotal, class: "form-control",
                  "ui-money-mask": "",
                  "ng-model": "freight.subtotal" %>
              </div>
              <div class="col-md-6">
                <%= freight_builder.label :ferry, class: "control-label" %>
                <%= freight_builder.text_field :ferry, class: "form-control",
                  "ui-money-mask": "",
                  "ng-model": "freight.ferry" %>
              </div>
            </div>

            <div class="field form-group">
              <div class="col-md-6">
                <%= freight_builder.label :platform, class: "control-label" %>
                <%= freight_builder.text_field :platform, class: "form-control",
                  "ui-money-mask": "",
                  "ng-model": "freight.platform" %>
              </div>
              <div class="col-md-6">
                <%= freight_builder.label :redispatching, class: "control-label" %>
                <%= freight_builder.text_field :redispatching, class: "form-control",
                  "ui-money-mask": "",
                  "ng-model": "freight.redispatching" %>
              </div>
            </div>

            <div class="field form-group">
              <div class="col-md-6">
                <%= freight_builder.label :platform_origin, class: "control-label" %>
                <%= freight_builder.text_field :platform_origin, class: "form-control",
                  "ui-money-mask": "",
                  "ng-model": "freight.platform_origin" %>
              </div>
              <div class="col-md-6">
                <%= freight_builder.label :platform_destination, class: "control-label" %>
                <%= freight_builder.text_field :platform_destination, class: "form-control",
                  "ui-money-mask": "",
                  "ng-model": "freight.platform_destination" %>
              </div>
            </div>

            <div class="field form-group">
              <div class="col-md-6">
                <%= freight_builder.label :discount, class: "control-label text-danger" %>
                <%= freight_builder.text_field :discount, class: "form-control",
                  "ui-money-mask": "",
                  "ng-model": "freight.discount" %>
              </div>
              <div class="col-md-6">
                <label class="control-label"></label>
                <p class="form-text text-right"><span class="text-primary"><%= t(".total") %></span><%= number_to_currency(@freight.total) %></p>
              </div>
            </div>
            <div class="field form-group">
              <div class="col-md-12">
                <%= freight_builder.label :observation, class: "control-label" %>
                <%= freight_builder.text_area :observation, class: "form-control", rows: 5 %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= render partial: "/cars/forms/location_form", locals: { f: f } %>

      <%= f.hidden_field :client_type %>
      <%= button_tag(:save, type: "submit", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    angular.module("controllers.editCars")
      .value("carJson", <%= @car.to_json.html_safe %>)
      .value("clientJson", <%= @client.to_json.html_safe %>)
      .value("freightJson", <%= @freight.to_json.html_safe %>)
      .value("locationJson", <%= @location.to_json.html_safe %>)
      .value("statesJson", <%= @states.to_json.html_safe %>);
  </script>
<% end %>

