
<div class="container">
  <div class="row">
  <div class="col-md-12">
    <div class="page-header"><h1><%= t(".editing_car") %></h1></div>
    <% if @car.errors.any? %>
      <div class="alert bg-danger fade in">
        <h4>
          <%= pluralize(@car.errors.count, t("activerecord.errors.messages.error")) %>
          <%= t(".check_errors") %>
        </h4>
        <ul>
          <% @car.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end -%>
  </div>
    <div class="col-md-6">
      <div class="well">
        <%= form_for(@car, html: {class: 'form-horizontal'}) do |f| %>
          <fieldset>
            <legend><%= t(".car_data") %></legend>
          </fieldset>

          <div class="field form-group">
            <%= f.label :plate, class: 'col-md-2 control-label' %>
            <div class="col-md-4">
              <%= f.text_field :plate, class: 'form-control' %>
            </div>
            <%= f.label :model, class: 'col-md-2 control-label' %>
            <div class="col-md-4">
              <%= f.text_field :model, class: 'form-control' %>
            </div>
          </div>

          <div class="field form-group">
            <%= f.label :purchase_date, class: 'col-md-2 control-label' %>
            <div class="col-md-10">
              <%= f.select :purchase_date, DeliveryStatus.to_a, {}, { class: 'form-control' } %>
            </div>
          </div>

          <div class="field form-group">
            <%= f.label :delivery_status, class: 'col-md-2 control-label' %>
            <div class="col-md-10">
              <%= f.select :delivery_status, DeliveryStatus.to_a, {}, { class: 'form-control' } %>
            </div>
          </div>

        <%= button_tag(:save, type: 'submit', class: "btn btn-primary") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
