<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1><%= t "activerecord.models.car" %></h1>
      <table class="table table-blasted table-hover table-condensed">
        <thead>
          <tr>
            <th><%= I18n.t "activerecord.attributes.car.id" %></th>
            <th><%= I18n.t "activerecord.attributes.car.plate" %></th>
            <th><%= I18n.t "activerecord.attributes.car.model" %></th>
            <th><%= I18n.t "activerecord.models.client" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cars.each do |car| %>
            <tr class="accordion-toggle">
              <td data-toggle="collapse" data-target="#car-<%= car.id %>" ><%= car.id %></td>
              <td data-toggle="collapse" data-target="#car-<%= car.id %>" ><%= car.plate %></td>
              <td data-toggle="collapse" data-target="#car-<%= car.id %>" ><%= car.model %></td>
              <td data-toggle="collapse" data-target="#car-<%= car.id %>" ><%= car.client.name if car.client %></td>
              <td>
                <%= link_to edit_car_path(car.id), class: "btn btn-default btn-sm", "aria-abel": "Right Align" do %>
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span class="sr-only">Edit</span>
                <% end %>
                <button type="button" class="btn btn-default btn-sm" aria-label="Right Align">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span class="sr-only">Delete</span>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="6" class="hidden-row"><div id="car-<%= car.id %>" class="accordian-body collapse">Demo3</div></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
