<div class="container">
  <div class=row>
    <div ng-controller="carsController" ng-cloak>
      <table>
        <thead>
          <tr>
            <th><%= I18n.t "activerecord.attributes.car.id" %></th>
            <th><%= I18n.t "activerecord.attributes.car.plate" %></th>
            <th><%= I18n.t "activerecord.attributes.car.model" %></th>
            <th><%= I18n.t "activerecord.models.buyer" %></th>
          </tr>
        </thead>
        <tbody ng-repeat="car in cars">
          <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.plate }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.buyer.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= content_for :javascript do %>
  <script type="text/javascript">
    angular.module("services.carService")
      .value("carsJson", <%= @cars.to_json.html_safe %>)
  </script>
<% end -%>
