<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1><%= t "activerecord.models.car" %></h1>
      <table class="table table-blasted table-hover table-condensed">
        <thead>
          <tr>
            <th><%= I18n.t "activerecord.attributes.car.plate" %></th>
            <th><%= I18n.t "activerecord.attributes.car.model" %></th>
            <th><%= I18n.t "activerecord.models.location" %></th>
            <th><%= I18n.t "activerecord.models.client" %></th>
            <th><%= I18n.t "activerecord.attributes.client.phone" %></th>
            <th><%= I18n.t "activerecord.attributes.client.document" %></th>
            <th><%= I18n.t "activerecord.attributes.freight.total" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cars.each do |car| %>
            <%= render partial: "/shared/modals/car_modal", locals: { car: car } %>
            <tr class="accordion-toggle">
              <td data-toggle="modal" data-target="#car-<%= car.id %>-modal" ><%= car.plate %></td>
              <td data-toggle="modal" data-target="#car-<%= car.id %>-modal" ><%= car.model %></td>
              <td data-toggle="modal" data-target="#car-<%= car.id %>-modal" ><%= car.location.full :current %></td>
              <td data-toggle="modal" data-target="#car-<%= car.id %>-modal" ><%= car.client.name %></td>
              <td data-toggle="modal" data-target="#car-<%= car.id %>-modal" ><%= car.client.phone %></td>
              <td data-toggle="modal" data-target="#car-<%= car.id %>-modal" ><%= car.client.document %></td>
              <td data-toggle="modal" data-target="#car-<%= car.id %>-modal" ><%= car.client.total_debt %></td>
              <td>
                <%= link_to edit_car_path(car.id), class: "btn btn-default btn-sm", "aria-abel": "Right Align" do %>
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span class="sr-only">Edit</span>
                <% end %>
                <button type="button" class="btn btn-default btn-sm" aria-label="Right Align">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  <span class="sr-only">Delete</span>
                </button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
